* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titleHeader {
  text-align: center;
  color: rgb(25, 150, 108);
}

.contTab {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contTab .titleTab {
  width: 20%;
  padding: 10px 0px;
  margin: 0 auto;
}

.contTab .titleTab h3 {
  color: rgb(108, 57, 138);
}

.contComics {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contComics .listComics {
  width: 20%;
  padding: 10px 0px;
  margin: 0 auto;
}

